* {
    font-family: 'Abril Fatface', cursive;
    font-family: 'Prata', serif;
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;


    box-sizing: border-box;
}

ol {
    display: flex;
    left: 62%;
    top: -15px;
    position: absolute;
    z-index: 2;

}

li {
    display: block;
    margin: 20px;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(227, 227, 227);
}

ul {
    display: flex;
    left: 62%;
    top: 50px;
    position: absolute;
    z-index: 2;

}

.segunda_lista li {
    display: block;
    margin: 20px;
}

.segunda_lista a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(227, 227, 227);
}

a:hover {
    text-decoration: none;
    color: rgb(50, 141, 110);
}

.Lista2 {
    width: 44%;
    height: 80px;
    box-shadow: 0px 10px 10px rgb(17, 0, 142);
    background: rgb(0, 63, 164);
    transform: skew(-15deg);
    z-index: 1;
    position: relative;
    left: 55%;
    top: 46px;
}

.Lista4 {
    width: 44%;
    height: 50px;
    background: rgb(13, 0, 124);
    z-index: 1;
    box-shadow: 0px 5px 10px rgba(0, 46, 110, 0.501);
    transform: skew(-20deg);
    position: relative;
    left: 55%;
    top: 0px;
}

.Lista3 {
    width: 44%;
    height: 50px;
    background: rgb(13, 0, 124);
    z-index: 1;
    box-shadow: 0px 10px 10px rgb(0, 46, 110);
    transform: skew(-20deg);
    position: relative;
    left: 55%;
    top: -84px;
}

video {
    width: 100%;
    display: flex;
    position: relative;
    top: -150px;

}

.main {
    width: 100%;

}

img {
    z-index: 2;
    width: 300px;
    position: relative;
    top: -1030px;

}

input {
    display: flex;
    position: relative;
    left: 15%;
    background: rgb(224, 223, 223);
    border: none;
    border-radius: 5px;
    width: 40%;
    margin-top: 10px;
    height: 40px;
    padding: 10px;
}

label {
    position: relative;
    left: 2%;
    top: 40px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 10px;
}

button {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background: rgb(0, 16, 120);
    position: relative;
    left: 35%;
    color: white;
    font-size: 22px;
    transition: 2s;
    top: 1225px;
}

button:hover {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: 2s;
    color: rgb(0, 0, 0);
    font-size: 22px;
    background-color: rgb(1, 108, 112);
    position: relative;
    left: 35%;
    top: 1225px;
}

form {
    /* overflow: hidden; */
    position: relative;
    top: -80px;
}

.hr {
    width: 50%;
    z-index: 2;
    height: 5px;
    position: absolute;
    left: 25%;
    overflow: hidden;
    border: none;
    background: linear-gradient(90deg, rgb(0, 209, 146), rgb(3, 102, 36));
    border-radius: 5px;
}